.dwellings-container {
  margin: 10px;
  background-color: #faebd7;
}

.filter-buttons {
  margin: 10px;
  display: flex;
  gap: 10px;
}

.filter-buttons > button {
  background-color: #faebd7;
}

.dwellings-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dwelling-buttons {
  display: flex;
  gap: 10px;
}

.dwelling-img, .dwelling-img-container {
  width: 100%;
}

.dwelling-button {
  background-color: #fcdfb8;
}
