<mat-spinner class="loading-spinner" *ngIf="loading"></mat-spinner>

<mat-card class="dwellings-container" *ngIf="!loading">
  <div class="empty-container" *ngIf="!dwellings?.length">
    <h3>
      <i>There are no dwellings for your location</i>
    </h3>
  </div>

  <mat-card-content class="dwellings-content" *ngIf="dwellings?.length">
    <mat-accordion *ngFor="let dwelling of dwellings">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span><b>{{dwelling.name}}</b></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{dwelling.description}}</p>

        <p><b>Number of rooms:</b> {{dwelling.numberOfRooms}}</p>
        <p><b>Arranged:</b> {{dwelling.arranged ? 'Yes' : 'No'}}</p>
        <p><b>Has balcony:</b> {{dwelling.balcony ? 'Yes' : 'No'}}</p>
        <p><b>Location: </b> {{dwelling.location}}</p>
        <div class="dwelling-img-container">
          <img class="dwelling-img" src="{{dwelling.photo}}" alt="dwelling">
        </div>

        <div class="dwelling-buttons">
          <button mat-raised-button (click)="createAgreement(dwelling.id)">Make agreement</button>
          <button mat-raised-button class="chat-button" (click)="createChat($event)">Contact consultant</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>

