<mat-card class="dwellings-container">
  <mat-card-content class="dwellings-content">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span><b>Dwelling</b></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Description</p>

        <p><b>Number of rooms:</b> 2</p>
        <p><b>Arranged:</b> Yes</p>
        <p><b>Has balcony:</b> Yes</p>
        <p><b>Location: </b> Lviv</p>
        <div class="dwelling-img-container">
          <img class="dwelling-img" src="https://static.riel.ua/s3_ckf_files/images/news/shutterstock_1352039708.jpg" alt="dwelling">
        </div>

        <div class="dwelling-buttons">
          <button mat-raised-button>Make agreement</button>
          <button mat-raised-button class="chat-button" (click)="createChat($event)">Contact consultant</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span><b>Dwelling</b></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Description</p>

        <p><b>Number of rooms:</b> 2</p>
        <p><b>Arranged:</b> Yes</p>
        <p><b>Has balcony:</b> Yes</p>
        <p><b>Location: </b> Lviv</p>
        <div class="dwelling-img-container">
          <img class="dwelling-img" src="https://static.riel.ua/s3_ckf_files/images/news/shutterstock_1352039708.jpg" alt="dwelling">
        </div>

        <div class="dwelling-buttons">
          <button mat-raised-button>Make agreement</button>
          <button mat-raised-button class="chat-button">Contact consultant</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span><b>Dwelling</b></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Description</p>

        <p><b>Number of rooms:</b> 2</p>
        <p><b>Arranged:</b> Yes</p>
        <p><b>Has balcony:</b> Yes</p>
        <p><b>Location: </b> Lviv</p>
        <div class="dwelling-img-container">
          <img class="dwelling-img" src="https://static.riel.ua/s3_ckf_files/images/news/shutterstock_1352039708.jpg" alt="dwelling">
        </div>

        <div class="dwelling-buttons">
          <button mat-raised-button>Make agreement</button>
          <button mat-raised-button class="chat-button">Contact consultant</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span><b>Dwelling</b></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Description</p>

        <p><b>Number of rooms:</b> 2</p>
        <p><b>Arranged:</b> Yes</p>
        <p><b>Has balcony:</b> Yes</p>
        <p><b>Location: </b> Lviv</p>
        <div class="dwelling-img-container">
          <img class="dwelling-img" src="https://static.riel.ua/s3_ckf_files/images/news/shutterstock_1352039708.jpg" alt="dwelling">
        </div>

        <div class="dwelling-buttons">
          <button mat-raised-button>Make agreement</button>
          <button mat-raised-button class="chat-button">Contact consultant</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>

