.agreements-container {
  margin: 10px;
  background-color: #faebd7;
}

.agreements-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accept-button {
  background-color: #fcdfb8;
}

.action-buttons {
  margin-left: auto;
  display: flex;
  gap: 5px;
}
