<mat-card class="login-container">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div >
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="fields-container">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <mat-error *ngIf="f.email.errors.required">Email is required</mat-error>
          </div>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
          </div>
        </mat-form-field>
        <div>
          <button class="login-button" mat-raised-button [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Log in
          </button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
