.consultants-container {
  margin: 10px;
  background-color: #faebd7;
  width: 300px;
  padding: 20px;
}

.consultants {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

mat-card-header {
  display: flex;
  justify-content: center;
}

.add-button-container {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 40px;
}

.add-button {
  background-color: #ffaf44;
  color: black;
}
