<mat-spinner class="loading-spinner" *ngIf="loading"></mat-spinner>

<mat-card class="chat-container" *ngIf="!loading">
  <mat-card-content class="chat-content">
    <div #chatContainer [scrollTop]="scrollTop" class="chat-messages" id="chat-messages">
      <div *ngIf="chat?.messages">
        <div class="message" *ngFor="let receivedMessage of chat.messages"
             [class.user-message]="receivedMessage.senderId == senderId"
             [class.consultant-message]="receivedMessage.senderId != senderId">
          <span>{{receivedMessage.text}}</span>
        </div>
      </div>
    </div>

    <div class="message-container">
      <mat-form-field  class="message-input">
        <input matInput [(ngModel)]="message">
      </mat-form-field>
      <div class="send-button">
        <button mat-mini-fab color="primary" (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
