<mat-toolbar class="nav-bar">
  <div class="tabs" *ngIf="authenticationService.loggedInValue">
    <div class="tab" [class.tab-active]="dwellingsLink.isActive">
      <a [routerLink]="['/dwellings']" routerLinkActive #dwellingsLink="routerLinkActive">Dwellings</a>
    </div>

    <div class="tab" [class.tab-active]="chatsLink.isActive">
      <a [routerLink]="['/chats']" routerLinkActive #chatsLink="routerLinkActive">Chats</a>
    </div>
  </div>

  <div class="auth-buttons">
    <div *ngIf="!authenticationService.loggedInValue">
      <button mat-button [routerLink]="['/login']">Sign In</button>
    </div>
    <div *ngIf="!authenticationService.loggedInValue">
      <button mat-raised-button class="login-button" [routerLink]="['/register']">Sign Up</button>
    </div>
    <div *ngIf="authenticationService.loggedInValue">
      <button mat-button (click)="logout()">Log out</button>
    </div>
  </div>
</mat-toolbar>

<div class="content-container">
  <router-outlet></router-outlet>
</div>
